
section(class = 'hero min-vh-100 position-relative', id = 'home')
	div(class = 'container')
		div(class = 'hero-content position-absolute d-flex justify-content-center align-items-center translate-middle')
			div(class = 'content text-center')
				p(class = 'hero-title', data-aos='fade-up', data-aos-delay='300') 
					span TrueFix, 
					| where fixing technical problems became easy to deal with <br />
				a(href = '#about' class = 'btn-down')
					i(class = 'fas fa-angle-down')

