
section(class = 'section-about py-5 my-5', id = 'about')
	div(class = 'about-content')
		div(class = 'container py-5')
			h3(class = 'section-title mb-5 text-center') About
			div(class = 'row align-items-center justify-content-center')
				div(class = 'c col-12 col-md-6')
					div(class = 'left-side text-md-start text-center', data-aos='fade-up', data-aos-delay='200')
						img(class = 'img-fluid w-75 mb-5' src = '../../images/about.svg' alt = 'about picture')
				div(class = 'c col-12 col-md-6')
					div(class = 'right-side text-center', data-aos='fade-down', data-aos-delay='300')
						h4(class = 'about-title mb-4') who are we ?
						p(class = 'about-desc p-4 rounded')
							.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur